.btn {
  font-size: 0.875rem;
  letter-spacing: 0.35em;
  height: 2.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  white-space: nowrap;
  padding-inline: 2rem;
  text-transform: uppercase;
  transition: background 0.2s ease, color 0.2s ease, border-color 0.2s ease;

  &--outlined {
    border: 1px solid currentColor;

    &:hover {
      border-color: var(--off-black);
      background-color: var(--off-black);
      color: var(--white);
    }
  }
}
