<header class="header">
  <a href="/" class="header__home" aria-label="return to homepage">
    <icon src="./images/logo.svg" class="logo"></icon>
  </a>
  <button aria-label="mobile menu toggle" class="toggle header__toggle">
    <icon
      src="./images/icon-hamburger.svg"
      class="toggle__icon toggle__icon--menu"
    ></icon>
    <icon
      src="./images/icon-close.svg"
      class="toggle__icon toggle__icon--close"
    ></icon>
  </button>
  <nav class="nav nav--header header__nav">
    <include src="partials/nav.html"></include>
  </nav>
</header>
