<ul class="social-list {{class}}">
  <li class="social-list__item">
    <a href="#" class="social-list__link" aria-label="facebook">
      <icon
        src="./images/icon-facebook.svg"
        class="social-list__link-icon"
      ></icon>
    </a>
  </li>
  <li class="social-list__item">
    <a href="#" class="social-list__link" aria-label="twitter">
      <icon
        src="./images/icon-twitter.svg"
        class="social-list__link-icon"
      ></icon>
    </a>
  </li>
  <li class="social-list__item">
    <a href="#" class="social-list__link" aria-label="pinterest">
      <icon
        src="./images/icon-pinterest.svg"
        class="social-list__link-icon"
      ></icon>
    </a>
  </li>
  <li class="social-list__item">
    <a href="#" class="social-list__link" aria-label="instagram">
      <icon
        src="./images/icon-instagram.svg"
        class="social-list__link-icon"
      ></icon>
    </a>
  </li>
</ul>
