@use "./functions" as *;

%container {
  --container: 1100px;
  padding: 0 max(1.5rem, 50vw - var(--container) / 2);

  &-bleed-left {
    padding-right: max(1.5rem, 50vw - var(--container) / 2);
  }

  &-bleed-right {
    padding-left: max(1.5rem, 50vw - var(--container) / 2);
  }
}

%sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

%btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem fluid-size(24px, 32px, 1140);
  border: 1px solid var(--off-black);
  border-radius: 0.875rem;
  color: var(--white);
  background-color: var(--off-black);
  cursor: pointer;
  transition: color 0.3s ease, background-color 0.3s ease;
  height: fluid-size(40px, 56px, 1140);
  font-size: fluid-size(14px, 18px, 1140);

  &:hover {
    color: var(--off-black);
    background-color: transparent;
  }

  &--outlined {
    font-size: 0.875rem;
    padding: 0.25rem 1.5rem;
    background-color: transparent;
    color: var(--gray);
    border: 1px solid currentColor;
    height: 2.5rem;

    &:hover {
      color: var(--off-black);
    }
  }

  &--clear {
    padding: 0.25rem 1.5rem;
    height: 2.5rem;
    border: 0;
  }
}
